body{
    background: #adadad;
    font:         normal 15pt Arial;
}
header{
    color:    white;            /* cor do texto                */
    text-align: center;           /* centraliza o texto          */
}   
section{   
    background:  white;         /* cor de fundo                */
    border-radius: 0.625rem;      /* arredondamento da borda     */
    padding:       10.938rem;     /* espaço interno              */
    width:         31.25rem;      /* largura                     */
    margin:        auto;          /* centraliza                  */
    box-shadow:    0.188rem 0.188rem 0.625rem rgba(0, 0, 0, 0.363);/* sombra */
}
footer{
    color:    white;            /* cor do texto                */
    text-align: center;           /* centraliza o texto          */
    font-style: italic;           /* style de fonte              */
}
#imgH{
    border-radius: 9.375rem;
}
div{
    text-align: center;
    padding:    0.5rem;
}