/* ----------------------Geral(padrão)--------------------- */
*{
    padding: 0;
    box-sizing: border-box;
  }
/* border: 1px solid var(--color-secondary);/*retirar depois*/
:root {
    --color-background:           #adadad;
    --color-background-secondary: #929292;

    --color-primary:              #222222;
    --color-primary-light:        #333333;
    --color-primary-lighter:      #3f3f3f;
    --color-primary-dark:         #111111;
    --color-primary-darker:       #070707;

    --color-secondary:            #4dacff;/*Não definido...*/
    --color-secondary-light:      #4dacff;/*Não definido...*/
    --color-secondary-lighter:    #4dacff;/*Não definido...*/
    --color-secondary-dark:       #4dacff;/*Não definido...*/
    --color-secondary-darker:     #4dacff;/*Não definido...*/
    
    --color-title-in-primary:     #FFFFFF;
    --color-text-title:           #333333;
    --color-text-in-primary:      #FFFFFF;
    --color-text-base:            #FFFFFF;/*Não definido...*/
    --color-text-complement:      #FFFFFF;/*Não definido...*/

    --color-input-background:     #f9f8fc;

    --color-button-text:          #FFFFFF;

    --color-box-base:             #FFFFFF;
    --color-box-footer:           #f1f1f1;

    --color-line-in-white:        #E6E6F0;

    --color-footer:               #E6E6F0;
    --color-small-info:           #C1BCCC;

    --color-morning:              #fff56a;
    --color-afternoon:            #ff9e1fda;
    --color-night:                #1c305a;
    --color-dawn:                 #000714;
}



/* --------------------------BASE TOP---------------------- */
html, body{
    height: 100vh;
    width:  100%;
}
body{
    margin: 0 !important;
    background-color: var(--color-background);
    font:             normal 15pt Poppins;
}