/* conteúdo ---------------------------------------------------- */
header {
    color:      var(--color-title-in-primary);/* cor do texto    */
    text-align: center;           /* centraliza o texto          */
}
.titleH h1 {
    font:        800 3rem Poppins;
    line-height: 5.6rem;          /* tamanho da altura em volta  */
}
section {
    background:    var(--color-box-base);/* cor de fundo         */
    border-radius: 0.625rem;      /* arredondamento da borda     */
    padding:       0.938rem;      /* espaço interno              */
    width:         34.375rem;     /* largura                     */
    margin:        auto;          /* centraliza                  */
    box-shadow:    0.188rem 0.188rem 0.625rem rgba(0, 0, 0, 0.363);/* sombra */
}
div {
    text-align: center;
    padding:    0.5rem;
}
#msgH {
    font:   500 1.3rem Poppins;
    color:  var(--color-text-title);
}
#imgH {
    border-radius: 9.375rem;
}
#tempoSemanaH {
    font:    500 1.3rem Poppins;
    color:   var(--color-text-in-primary);

    padding: 0.938rem;
    width:   34.375rem;
    margin:  0.8rem auto;

    display:         flex;
    align-items:     center;
    justify-content: space-between;
}



.testeBtn {
    border-radius:          20px;
    line-height:            15px;
    color:                #FFFFFF;
    width:                  300px;
    font-size:              45px;
    font-weight:            600;
    padding:                40px;
    background-color:     #4DACFF;
    text-decoration:        none;
    display:                inline-block;
    cursor:                 pointer;
    text-align:             center;
    }
.testeBtn:hover {
    background:         #1E62D0;
    border-radius:      20px;
    text-decoration:    none;
}



footer {
    color:      var(--color-footer);/* cor do texto              */
    text-align: center;           /* centraliza o texto          */
    font-style: italic;           /* style de fonte              */

    margin-top: 3.5rem;
}
p.autorM {
    margin: 0 auto;
}
.spectrumHeader {
	transition: background-color 4s ease;
}